 <!--header -->
 <div class="header">
  <div class="img-text">
    <div class="user-img">
    <img class="dp" src="{{reciever?.profile}}" alt="">
  </div>
  <div>
    <h6>{{reciever?.name}} </h6>
  </div>
  </div>
  <div class="nav-icons">
    <li><i class="fa-solid fa-magnifying-glass"></i></li>
    <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
  </div>
</div>

<!--chat-container -->
<div class="chat-container" #chatContainer >
  <div class="message-box {{(message?.sender==reciever?._id)?'friend-message':'my-message'}}" *ngFor="let message of messages">

    <p>{{message?.message}}<br><span>{{message?.createdAt |date :'hh:mm a'}}</span></p>
  </div>
  <!-- <div class="message-box friend-message">
    <p>Ahh, I can't believe you do too!<br><span>07:45</span></p>
  </div>
  <div class="message-box friend-message">
    <p>The trailer looks good<br><span>07:45</span></p>
  </div>
  <div class="message-box friend-message">
    <p>I've been waiting to watch it!!<br><span>07:45</span></p>
  </div>
  <div class="message-box my-message">
    <p>😐😐😐<br><span>07:46</span></p>
  </div>
  <div class="message-box my-message">
    <p>Mee too! 😊<br><span>07:46</span></p>
  </div>
<div class="message-box friend-message">
    <p>We should video chat to discuss, if you're up for it!<br><span>07:48</span></p>
  </div>
  <div class="message-box my-message">
    <p>Sure<br><span>07:48</span></p>
  </div>
  <div class="message-box my-message">
    <p>I'm free now!<br><span>07:48</span></p>
  </div>
<div class="message-box friend-message">
    <p>Awesome! I'll start a video chat with you in a few.<br><span>07:49</span></p>
  </div> -->
  <div #scrollToEnd></div>
</div>

<!--input-bottom -->
<div class="chatbox-input">
  <i class="fa-regular fa-face-grin"></i>
  <i class="fa-sharp fa-solid fa-paperclip"></i>
  <input type="text" placeholder="Type a message" name="message" [(ngModel)]="message">
  <i class="fa-solid fa-paper-plane" (click)="onSendMessage()" ></i>
</div>

