
  <div class="background-green"></div>

  <div class="main-container">
    <div class="left-container">
      <!--header -->
      <div class="header">
        <div class="user-img" (click)="toggleProfile()">
          <img
            class="dp"
            src="{{self?.profile || 'profile.webp'}} "
            alt=""
          />
        </div>
        <div class="nav-icons">
          <li><i class="fa-solid fa-users"></i></li>
          <li><i class="fa-solid fa-message"> </i></li>
          <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
        </div>
      </div>

      <!--notification -->
      <div class="notif-box">
        <i class="fa-solid fa-bell-slash"></i>
        <div class="notif-text">
          <p>Get Notified of New Messages</p>
          <a href="#">Turn on Desktop Notifications ›</a>
        </div>
        <i class="fa-solid fa-xmark"></i>
      </div>

      <!--search-container -->
      <div class="search-container">
        <div class="input">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search or start new chat   " />
        </div>
        <i class="fa-sharp fa-solid fa-bars-filter"></i>
      </div>

      <!--chats -->
      <div class="chat-list">
        <div class="chat-box" *ngFor="let contact of contacts" (click)="openChat(contact?._id)" >
          <div class="img-box">
            <img
              class="img-cover"
              src="{{contact?.profile || 'profile.webp'}} "
              alt="{{contact?.name}}"
            />
          </div>
          <div class="chat-details">
            <div class="text-head">
              <h6>{{contact.name}}</h6>
              <!-- <p class="time unread">{{messages[messages.length-1]?.createdAt |date :"hh:mm a"}}</p> -->
            </div>
            <div class="text-message">
              <!-- <p>{{messages[messages.length-1]?.sender==self?._id?"You:":""}} {{messages[messages.length-1]?.message}}</p> -->
              <!-- <b>1</b> -->
            </div>
          </div>
        </div>

      </div>
      <div id="new-message">
             <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
      </div>
    </div>

    <div class="right-container">
      <app-chat [reciever]="reciever" [messages]="messages" (sendMessage)="sendMessage($event)"></app-chat>
    </div>


  </div>

  <div *ngIf="viewProfile" class="container">
    <div class="shape">

        <div class="image"><img
          class="dp"
          src="{{self?.profile || 'profile.webp'}} "
          alt=""

        />
        <div class="edit-image" ><i class="fa fa-pencil fs-5" (click)="toggleEditProfile()" ></i></div>
      </div>
    </div>
        <div class="col-md-8 mx-auto" *ngIf="isEditProfile">
          <input type="file"  (change)="onFileSelect($event)" name="profile" id="profile">
          <button type="button" class="btn btn-info w-50" (click)="updateProfileImage()" >Upload</button>
        </div>
        <div class="detail col-md-8 mx-auto">

          <h3 class=""> <input type="text" class="border-0 bg-white w-100" #name  id="name"  name="name" [ngStyle]="{'outline': !isEditDetail?'none':''}" [value]="self?.name" [readOnly]="!isEditDetail"> </h3>
          <h3 class="title fs-6">{{self?.email}}</h3>
          <p class=""><input type="text" class="border-0" name="about" #about  [ngStyle]="{'outline': !isEditDetail?'none':''}" [value]="self?.about ||'hello'" [readOnly]="!isEditDetail">  </p>
          <button type="button" *ngIf="isEditDetail"  class="btn btn-info w-75" (click)="updatePersonalDetails()">Update</button>

        </div>
    <div class="icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <i class="fa fa-pencil fs-6" (click)="toggleEditDetail()" ></i>
    <div>
      <i class="fa-solid fa-power-off" (click)="logout()">Logout</i>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade mx-auto mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">contact List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <div class="chat-list">
          <div class="chat-box" *ngFor="let user of users" (click)="openChat(user?._id)" >
            <div class="img-box">
              <img
                class="img-cover"
                src="{{user?.profile || 'profile.webp'}} "
                alt="{{user?.name}}"
              />
            </div>
            <div class="chat-details">
              <div class="text-head">
                <h6>{{user.name}}</h6>
                <p class="time unread">{{messages[messages.length-1]?.createdAt |date :"hh:mm a"}}</p>
              </div>
              <div class="text-message">
                <p>{{messages[messages.length-1]?.sender==self?._id?"You:":""}} {{messages[messages.length-1]?.message}}</p>
                <!-- <b>1</b> -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
